# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Resend
RESEND_API_KEY=

# Seguridad
NEWSLETTER_SEND_TOKEN=
CRON_SECRET=

# URLs
NEXT_PUBLIC_APP_URL=https://blog.immoralia.es
NODE_AUTH_TOKEN=    # Token GitHub Packages — pedir a Julián
NEXT_PUBLIC_BLOG_URL=https://immoralia.vercel.app/blog
